---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Upgrade packages
  apt:
    upgrade: dist
  become: true

- name: Install basic utilities
  apt:
    name:
      - git
      - curl
      - ufw
      - unzip
    state: present
